# Env
.direnv/
.envrc

# IDE
.vscode/
.idea/

# Data and legacy outputs
data/
output/

# Rust
Cargo.lock
target/
**/*.so

# Open source tools to analyze
open_sources/

# Ignorar arquivos sensíveis e referências
ref/
hand_history_test/
*.html
